@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Leaflet styles */
  #map {
    height: 420px;
    z-index: 1;
  }

  .leaflet-container {
    z-index: 1;
  }

  .leaflet-pane,
  .leaflet-top,
  .leaflet-bottom {
    z-index: 1 !important;
  }
}

@layer components {
  .chip {
    @apply px-4 py-2 rounded-full text-sm font-medium transition-all duration-300;
    @apply bg-white dark:bg-gray-800;
    @apply border border-gray-200 dark:border-gray-700;
    @apply hover:bg-gray-50 dark:hover:bg-gray-700;
  }

  .chip.active {
    @apply bg-primary-500 text-white border-transparent;
    @apply hover:bg-primary-600;
  }
}
